body {
    background-color:#071e22;
}

#courses {
    background-color:#1D7874;
}

#navCont {
    background-size: 80%;
}

@font-face {
    src: url('./assets/RockSalt-Regular.ttf');
    font-family: rocksalt;
}

.headerCont {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    padding-top: 1em;
    height: 5em;
    background-color: #071e22;
    z-index: 10;
    width: 100%
}

.authButtons {
    height: 1.75em;
    width: 6em;
    background-color: #1d7874;
    color: white;
    border: 2px solid #767676;
}

#courseName{
    color: white;
    font-size: 1.4em;
}

#courseInfo {
    color: white;
}

.courseHeader {
    text-align: center;
}


#addButton {
    background-color: #f4c095;
    margin-left: 18em;
    width: 18em;
    border: 2px solid black
}

#edit {
    background-color: #f4c095;
    margin-left: 18em;
    border: 2px solid black
}

#delete {
    background-color: #ee2e31;
    margin-left: 1.8em; 
    border: 2px solid black
}

#menuButton {
    color: white;
    background-color: #1d7874;
    margin-bottom: .2em;
    font-size: .6em;
    height: 2.5em;
    border-radius: 0;
    border: 2px solid #767676;
}

#courseName {
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 1.7em;
}

#courseLocation {
    font-family: rocksalt;
}

#dialogStyleAuth {
    background-color:#071e22;
    height: 15em;
    width: 20em;
    color: white;
    text-align: center;    
    position: relative;
    border:1px solid#ee2e31
}

#courseDialog {
    background-color:#071e22;
    height: 20em;
    width: 25em;
    color: white;
    text-align: center;    
    position: relative;
    border:1px solid#ee2e31
}

#myCourses {
   color: white;
   font-family: rocksalt;
   text-align: right;
   padding-right: 4em;
}

#cardDisplay{
    background-color: #1d7874;
    border: 2px solid white;
}

#editMyCourseButton {
    background-color: #f4c095;
    width: 11em;
    text-align: center;
    margin-left:  1em;
    border: 2px solid black
}

#deleteMyCourseButton {
    color:#ee2e31;
    background-color: black;
    width: 11em;
    margin-left: 1em;
    border: 2px solid #ee2e31
}

#myInfo {
    color: white
}